<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>当前步骤</th>
        <th>下一步骤</th>
        <th>处理时间</th>
        <th>处理人</th>
        <th>处理意见</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>创建问卷</td>
        <td>审核问卷</td>
        <td>2017-06-12 08:30</td>
        <td>张某</td>
        <td>提交审核</td>
      </tr>
      <tr>
        <td>审核问卷</td>
        <td>创建问卷</td>
        <td>2017-06-13 08:30</td>
        <td>张总</td>
        <td>审核不通过，有敏感词汇需要修改，逻辑有问题。</td>
      </tr>
      <tr>
        <td>创建问卷</td>
        <td>审核问卷</td>
        <td>2017-06-14 08:30</td>
        <td>张某</td>
        <td>提交审核</td>
      </tr>
      <tr>
        <td>审核问卷</td>
        <td>发布问卷</td>
        <td>2017-06-15 08:30</td>
        <td>张总</td>
        <td>审核通过</td>
      </tr>
    </tbody>
  </table>
</div>
