<div class="">
  <p>目标收集量： 0</p>
  <p>发布方式：短信</p>
  <p>每个题目最少答题时间：3秒</p>
  <p>样本配额：</p>
  <div class="table-phone-box">
    <table class="table table-bordered table-phone">
      <thead>
        <tr>
          <th>手机号</th>
          <th>归属地</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
        <tr>
          <td>13500000000</td>
          <td>石家庄</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
