<div class="data-page">
  <button id="dataOut" class="btn btn-default" type="button" name="button">导出数据</button>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>查看</th>
          <th>编号</th>
          <th>开始答题时间</th>
          <th>结束答题时间</th>
          <th>1.问题的标题？</th>
          <th>2.问题的标题长度很长？</th>
          <th>3.手机号</th>
          <th>4.归属地</th>
          <th>5.问题的标题？</th>
          <th>6.问题的标题长度很长？</th>
          <th>7.性别</th>
          <th>8.年龄</th>
          <th>9.问题的标题？</th>
          <th>10.问题的标题长度很长？</th>
          <th>11.问题的标题？</th>
          <th>12.问题的标题长度很长？</th>
          <th>13.问题的标题？</th>
          <th>14.问题的标题长度很长？</th>
          <th>15.问题的标题？</th>
          <th>16.问题的标题长度很长？</th>
          <th>17.问题的标题？</th>
          <th>18.问题的标题长度很长？</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="view-answer.html" target="_blank">查看</a>
          </td>
          <td>1</td>
          <td>2017-07-06 12:00:00</td>
          <td>2017-07-06 15:30:00</td>
          <td>答案</td>
          <td>答案</td>
          <td>12324325425</td>
          <td>石家庄</td>
          <td>答案</td>
          <td>答案</td>
          <td>12324325425</td>
          <td>石家庄</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
        </tr>
        <tr>
          <td>
            <a href="view-answer.html" target="_blank">查看</a>
          </td>
          <td>2</td>
          <td>2017-07-06 12:00:00</td>
          <td>2017-07-06 15:30:00</td>
          <td>答案</td>
          <td>答案</td>
          <td>12324325425</td>
          <td>石家庄</td>
          <td>答案</td>
          <td>答案</td>
          <td>12324325425</td>
          <td>石家庄</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
          <td>答案</td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav class="navigation-area" aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
